

h1 {
    color: rgb(206, 97, 24);
    background-color: rgb(37, 37, 37);
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}



a {
    color: rgb(206, 97, 24);
    text-decoration: none;
}


.info-content {
    margin-left: 250px;
}


.footer {
    text-align: center;
    background-color: rgb(37, 37, 37);
    position: bottom;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding: 5px;
}

.container {
    width: 1080px;
}

#bridge {
    float: left;
}